* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}


button:hover {
  cursor: pointer;
}

.catch-all {
  width: 100%;
  padding: 100px;
  text-align: center !important;
}

.catch-all .btn {
  margin-left: auto !important;
  margin-right: auto !important;
}

.white-background {
  background-color: white;
}

.grey-background {
  background-color: #ebebea;
}

.black-background {
  background-color: rgba(0, 0, 0, 0.4);
}

.image-background {
  background-image: url('./images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 40%;
}

.box {
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
  border-radius: 15px;
}

.form {
  display: grid;
  margin: 0;
  padding: 10px;
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

/* alert box */

.s-alert-box {
  z-index: 10000 !important;
}

input, select {
  padding: 10px;
  width: 100%;
  margin: 10px 0;
  font-size: 14px;
  background-color: white;
  border: 1px solid #f1f1f1 !important;
  border-radius: 0;
  font-family: 'Raleway', sans-serif !important;
}

select {
  appearance: none;
}


h1 {
  font-size: 35px;
  font-family: 'Raleway', sans-serif !important;
}

h3 {
  font-size: 20px;
  font-family: 'Raleway', sans-serif !important;
}

h5 {
  font-size: 15px;
  font-family: 'Raleway', sans-serif !important;
}

a {
  color: #3f8c83;
}

ul, ol {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}


.fa-pencil {
  font-size: 12px;
}


.Modal {
  padding: 0;
 }

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.full-width-main {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/* Home */
.home {
  /* grid-gap: 30px; */
  margin: 0;
}

.home h1 {
  font-size: 38px;
}

.home .signup {
  padding: 40px;
  background-color: #e86c6d;
}

.home .signup button {
  background-color: white;
  color: #e86c6d;
}



/* Owners */
.owners {
  color: #8a8888;
}

.owners .hero {
  margin-top: 30px !important;
}

.owners .hero.one {
  padding: 50px !important;
}

.owners .hero.one .header {
  font-weight: 500;
  font-family: 'Raleway', sans-serif !important;
  font-size: 24px;
}

.owners .hero.one .text {
  font-weight: initial;
  font-size: 18px;
}

/* .owners .hero.one button {
  font-size: 16px;
  padding: 10px 20px;
} */

.owners h1 {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 0;
}

.owners .container {
  width: 95%;
}

.owners .hero.one {
  padding: 0 50px;
}

.owners .hero.one img {
  width: 90%;
}

.owners .hero.one h1 {
  color: #e86c6d;
}

.owners .hero.two {
  padding: 0;
  width: 95%;
  margin-bottom: 30px;
}

.owners .hero.two .image {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.owners .hero.two .image img {
  width: 90%;
}

.owners .list {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.owners .hero.two h1 {
  text-align: left;
}

.owners .hero.two .content .bullet-points {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-gap: 10px;
  padding: 10px 0;
}

.owners .hero.two .content .bullet-points li {
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  margin-left: 5px;
}

.owners .hero.two .content .bullet-points.two {
  margin-left: 30px;
}

.owners .hero.two .content .bullet-points.three {
  margin-left: 60px;
}

.owners .hero.two .content img {
  height: 30px;
  margin-left: auto;
}

.owners .signup, .parkers .signup {
  background-color: white;
  color: black;
  padding: 0;
}

.owners .list .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.owners .list .images img {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.owners .signup, .parkers .signup {
  background-color: #e86c6d;
  padding: 50px 0;
  font-weight: 500 !important;
  width: 100% !important;
}

.owners .signup p, .parkers .signup p{
  color: white !important;
  font-size: 25px !important;
}

.owners .signup button, .parkers .signup button {
  background-color: white;
  color: #e86c6d;
  margin: 20px 0;
  font-size: 16px;
  padding: 15px;
}

/* Parkers */
.parkers {
  grid-gap: 30px;
  color: #8a8888;
}

.parkers p {
  font-size: 20px !important;
  font-weight: 200 !important;
}

.parkers .hero.one {
  padding: 50px !important;
}

.parkers .hero.one .header {
  font-weight: 500;
  font-family: 'Raleway', sans-serif !important;
  font-size: 24px;
}

.parkers .hero.one .text {
  font-weight: initial;
  font-size: 18px;
}

.parkers h1 {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 0;
}

.parkers .container {
  width: 95%;
}

.parkers .hero.one {
  padding: 0 !important;
}

.parkers .hero.one .content {
  margin-left: auto;
  margin-right: auto;
}

.parkers .hero.one img {
  width: 100%;
}

.parkers .hero.one h1 {
  color: #e86c6d;
}

.parkers .hero.two {
  padding: 0;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.parkers .content-container {
  background-color: #f7f6f6;
  display: grid;
  grid-template-columns: 1fr;
}

.parkers .hero.two .content, .parkers .hero.three .content {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.parkers .hero.two .carousel-slider {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.parkers .hero.two .carousel .slide {
  background: white;
}

.parkers .hero.two .image {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.parkers .hero.two img {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.parkers .list {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.parkers .hero.two .content .bullet-points {
  display: grid;
  grid-template-columns: 0.2fr 1.8fr;
  grid-gap: 10px;
  padding: 10px 0;
}


.parkers .hero.two .content .bullet-points.three {
  margin-left: 60px;
}

.parkers .hero.three {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.parkers .hero.three .image {
  width: 90%;
}

.parkers .hero.three img {
  padding: 60px 0;
  width: 70%;
  margin-left: auto !important;
  margin-right: auto !important;
}


.parkers .list .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.parkers .list .images img {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.parkers .signup p{
  color: white;
  font-weight: 500 !important;
}

.parkers .signup p {
  font-size: 25px;
}


/* Login / Register */

.login-register {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 100% !important;
}

.login-register-logo {
  height: 100px;
}

.login-register .header {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}

.login-register .header p {
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
}

.login-register .header h1 {
  margin: 10px;
}

.login-register .form-container {
  padding: 20px;
  background-color: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}


.login-register .form-container .header {
  margin: 0;
  padding: 10px 0;
  color: #4a4a4a;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.login-register .form-container button {
  border: none;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 0;
  border-bottom: 2px solid white;
  /* padding-bottom: 15px; */
}

.login-register .form-container button:disabled {
  opacity: 1;
  color: #e86c6d;
  border-bottom: 2px solid;
  padding: 15px 0 !important;
}

.login-register .form {
  padding: 30px 20px;
}

.login-register .form .name-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/* .login-register .form .test {
  display: grid;
  grid-template-columns: 0.99fr 0.01fr !important;
  width: 100%;
} */

.login-register .form .input {
  border-radius: initial;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

.input {
  width: 100%;
  margin: 0;
  border: 1px solid #f1f1f1;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
}

.input input {
    border: none !important;
    outline: none;
    margin: 0;
}

.login-register .form i {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 10px;
}

.login-register .form input  {
  border: none !important;
  outline: none;
  margin: 0;
  padding: 15px;
}

.login-register .form .half {
  grid-template-columns: 0.99fr 0.01fr !important;
}


/* .login-register .form .half i {
  margin-left: initial !important;
  margin-right: 6px !important;
} */

.login-register .submit {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: initial;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 100;
}

.login-register .form p {
  margin: 0;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}


.footer-text {
  margin: 0;
}

/* Add Listing */

.add-listing-container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1.2fr 0.8fr;
  padding: 60px 0;
}

.add-listing-container form {
  padding: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.add-listing-form-container {
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
}

.add-listing-form-header h1 {
  margin: 0;
}

.add-listing-form-header p {
  margin: 10px 0;
}

.add-listing-form-content {
  padding: 20px 40px;
}

.add-listing-form-content h1{
  color: #e86c6d;
}

.add-listing-form-content p{
  color: #8a8888;
}

.add-listing-form-content hr{
  width: 25%;
  margin-left: 0;
  height: 5px;
  border: 0;
  border-top: 4px solid #e86c6d;
  padding: 0;
}

.checkbox-container {
  margin-top: 10px;
}

.step3{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.add-listing-form-fields h3 {
  margin: 5px 0;
}

.add-listing-form-fields p{
  color: black;
  margin: 0;
}


.add-listing-form-input-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

.add-listing-form-input-container input, .add-listing-form-input-container select {
  padding: 10px;
  width: 100%;
  margin: 5px;
  border: none;
  font-size: 12px !important;
  background-color: white;
}

.add-listing-form-input-container span {
  font-size: 12px;
}

.add-listing-form-input-container select {
  appearance: none;
  font-size: 14px;
}

.add-listing-form-button {
  margin: 10px;
  width: 30%;
}

.add-listing-message-container {
  display: grid;
  grid-template-rows: 0.2fr 1.8fr;
  margin-left: auto;
  width: 90%;
  text-align: right;
}

.add-listing-message-content {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.add-listing-message-content h1 {
  color: #3f8c83;
  margin: 0;
}

.add-listing-message-content p {
  font-size: 18px;
  text-align: right;
}

.add-listing-form-input-header {
  margin: 20px 0;
}

.label-container {
  margin-bottom: 15px;
}

/* .checkbox {
  width: 100%;
} */

.checkbox input[type="checkbox"] {
  width: 10px !important;
}

.checkbox input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  width: 100px;
  padding: 0;
  border-radius: 0;
  margin-left: 10px;
}

/* Thank you page */
.add-listing-container.thank-you {
  padding: 80px 0;
}

.add-listing-form-content.thank-you {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}

.add-listing-form-body.thank-you h4 {
  font-size: 20px;
  width: 80%;
}

.add-listing-container.thank-you p {
  color: black;
}

/* Find parking */

.fa-ellipsis-v {
  color: grey !important;
  font-size: 10px;
  margin-left: 10px;
}

.find-parking-container {
  display: grid;
  padding-top: 0;
  width: 95%;
}

.find-parking-container .header {
  text-align: center;
}

.find-parking-container hr {
  width: 25%;
  height: 5px;
  border: 0;
  border-top: 4px solid #e86c6d;
  padding: 0;
}

.find-parking-container .header h1 {
  color: #e86c6d;
  font-size: 30px;
}


.find-parking-container .body .header p {
  margin: 0;
}

.find-parking-container .body .header h3 {
  margin-bottom: 5px;
}

.find-parking-container .body {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto;
}

.find-parking-container .listing-container {
  height: 80vh;
  overflow: scroll;
}

.find-parking-container .listing {
  width: 90%;
  /* height: 80vh;
  overflow: scroll; */
}

.find-parking-container .listing h3 {
  font-weight: 700;
}


.find-parking-container .search-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.find-parking-container .search-body button {
  color: white;
  background-color: #e86c6d;
  border: none;
  font-size: 20px;
  padding: 10px;
  margin: 7px 0;
}

.find-parking-container .search-body select {
  margin: 5px 0;
}

.find-parking-container .body .header {
  margin-bottom: 40px;
}

.find-parking-container .listings li {
  padding: 10px 0;
}

.find-parking-container .listings button {
  padding: 5px;
}

.find-parking-container .listings .individual-listing {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  background-color: white;
  grid-gap: 10px;
}


.find-parking-container .listings .highlight {
  border-right: solid #e86c6d;
  border-right-width: thick;
}

.find-parking-container .listings .individual-listing img {
  height: 100%;
  width: 100%;
}

.find-parking-container .listings .individual-listing h3, .find-parking-container .listings .individual-listing h5, .find-parking-container .listings .individual-listing p {
  margin: 0 !important;
}

.find-parking-container .listings .details {
  padding: 10px 0;
}

.find-parking-container .listings .individual-listing h3 {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.find-parking-container .listings .individual-listing h5 {
  font-weight: 300;
  font-size: 12px;
  margin: 5px 0 !important;
}

.find-parking-container .listings .individual-listing p {
  font-weight: 300;
  font-size: 10px;
  margin: 5px 0 !important;
}

.find-parking-container .listings .individual-listing button {
  font-weight: 100;
  font-size: 10px;
  margin: 0;
}


.map {
  margin: 0;
}

.find-parking-container .thank-you {
  display: grid;
  grid-gap: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.find-parking-container .thank-you .header {
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}

.find-parking-container .thank-you .message p {
  margin: 20px;
}

.find-parking-container .thank-you .redirect p {
  font-size: 10px;
}

.find-parking-container .pagination button {
  margin: 0;
  margin-right: 5px;
  /* padding: 5px; */
  font-size: 14px;
}

/* Rent Parking */
.rent-parking {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.rent-parking .input {
  grid-template-columns: initial;
}

.rent-parking .container {
  margin-top: auto;
  margin-bottom: auto;
  padding: 30px 30px;
}

.close-modal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.close-modal .close-button {
  margin-left: auto;
  cursor: pointer;
}

.rent-parking .parking-information .header {
  color: #4a4a4a;
}

.rent-parking .parking-information .header h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}

.rent-parking .parking-information .listing {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  grid-gap: 10px;
}

.rent-parking .header h3 {
  font-size: 14px;
  margin-bottom: 15px !important;
  margin-top: 0 !important;
}

.rent-parking h3 {
  font-size: 14px;
  margin: 10px 0 !important;
}


.rent-parking  h3, .rent-parking h5 {
  font-weight: 100;
}

.rent-parking h5 {
  margin: 5px 0 !important;
  font-size: 12px;
}

.rent-parking p {
  font-weight: 300;
  margin: 5px 0 !important;
  font-size: 12px;
}

.rent-parking hr {
  margin: 20px 0;
}

.rent-parking .parking-information .listing img {
  height: 100%;
  width: 100%;
}

.rent-parking .parking-information .listing .details {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

.rent-parking input, .rent-parking select {
  padding: 5px;
  font-size: 12px;
}

.rent-parking .input {
  margin: 5px !important;
}

.rent-parking input::placeholder {
  font-size: 12px;
}

.rent-parking h3 {
  font-weight: 500;
}

/* .rent-parking .tenure-information {
  margin-top: 20px;
} */

.rent-parking .tenure-information h3 {
  margin-bottom: 15px !important;
  font-weight: 700 !important;
}

.rent-parking .tenure-information label {
  font-weight: 300;
  font-size: 12px;
}


.rent-parking .tenure-information a {
  font-size: 12px;
  font-weight: 300;
}

.rent-parking .tenure-information .vehicle-registered {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-gap: 20px;
}

.rent-parking .button {
  text-align: center;
}

.rent-parking button {
  font-size: 18px;
  margin: 0;
  margin-top: 20px;
  padding: 10px;
}

.rent-parking .thankyou .grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  text-align: right;
  padding: 15px;
}

.rent-parking .thankyou h3 {
  font-size: 24px;
  margin: 10px 0 !important;
}
.rent-parking .thankyou p {
  font-size: 16px;
  margin: 20px 0 !important;
}
.rent-parking .thankyou .button {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* No Parking */
.no-parking .button-container {
  /* width: 50%; */
  text-align: center;
}

.no-parking .btn {
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Dashboard */
.dashboard {
  width: 90%;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-gap: 40px;
  font-family: 'Raleway', sans-serif !important;
}

.dashboard hr {
  margin: 0;
}

.dashboard p {
  color: #8a8888;
  font-size: 14px;
  font-weight: 300;
}

.dashboard span {
  color: black;
  font-size: 14px;
  font-weight: 200;
  margin-right: auto;
}


.dashboard h3 {
  font-weight: 500;
  margin: 10px 0 !important;
}

.dashboard .avatar h3 {
  font-weight: 700;
}


.dashboard h5 {
  font-weight: 500;
}

.dashboard .edit h5 {
  font-weight: 700 !important;
}

.dashboard .user {
  display: grid;
  grid-template-rows: 0.3fr 0.7fr;
  box-shadow: 0 1px 5px rgba(0,0,0,.08);
}

.dashboard .user .avatar {
  text-align: center;
  padding: 20px 0;
}

.user-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.dashboard .user .contact {
  width: 80%;
}

.dashboard .user .contact .edit {
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
  grid-gap: 5px;
}

.dashboard .user .contact .edit i {
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.dashboard .user .contact .contact-info {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  margin: 10px 0;
}

.navigation-container {
  box-shadow: 0 1px 5px rgba(0,0,0,.08); 
}

.dashboard .parking .listing {
  margin-top: 20px !important;
  /* overflow: scroll; */
  height: 70vh;
}

.dashboard .parking .listing ul {
  margin: 0;
}


.dashboard .parking h3, .dashboard .parking h5, .dashboard .parking p {
  margin: 5px 0 !important;
}

.dashboard .parking .navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.dashboard .parking .navigation button {
  font-family: 'Raleway', sans-serif !important;
  border: none;
  font-weight: 500;
  font-size: 15px;
  padding: 15px 0;
  border-bottom: 2px solid white;
  background-color: #fff;
}

.dashboard .parking .navigation button:disabled {
  opacity: 1;
  color: #e86c6d;
  border-bottom: 2px solid;
  padding: 15px 0 !important;
}

.dashboard .parking .listing-container {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
  grid-gap: 50px;
  border-bottom: solid;
  border-width: thin;
  border-color: rgba(74, 74, 74, 0.2);
  box-shadow: 0 1px 5px rgba(0,0,0,.08); 
}

/* no-listed means that no listed parkings */
.dashboard .parking .no-listed-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: inherit;
  margin-top: 20px;
}

.no-listed-image {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.no-listed-image img {
  width: inherit;
}

.dashboard .parking .listing-container .thumbnail img {
  width: 100%;
  height: 100%;
}

.dashboard .parking .listing-container .thumbnail {
  width: 100%;
  height: 100%;
}

.dashboard .listing li {
  padding: 0;
}

.dashboard .parking .details-container {
  padding: 20px 0;
}

.dashboard .parking .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dashboard .parking .name {
  margin-bottom: 20px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://image.flaticon.com/icons/svg/42/42446.svg) no-repeat;
    background-size: 80%;
    /* width: 20px;
    height: 20px; */
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://image.flaticon.com/icons/svg/42/42446.svg) no-repeat;
    background-size: 80%;
    /* width: 20px;
    height: 20px; */
}

@media all and (max-width: 480px) {
  .hero {
    grid-template-columns: 1fr !important;
  }
  .hero .content {
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .bullet-points {
    margin: 0 !important;
  }
  .landing .logo {
    width: 100%;
  }

  .landing {
    margin-top: 5rem;
  }

  /* home */
  .home .hero {
    margin-bottom: 40px;
  }

  .home .hero.one {
    padding: 10px;
  }

  .home .hero.one .content {
    text-align: left !important;
    padding: 20px 0 !important;
  }

  .home .hero img {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 0 !important;
  }

  .home .hero.three {
    grid-template-areas:
      "image"
      "content";
  }

  .home .hero.three .content {
    grid-area: content;
  }

  .home .hero.three .hero-img {
    grid-area: image;
  }

  .home .hero-img {
    padding-bottom: 0 !important;
  }

  .home .cloud {
    display: none;
  }

  /* parkers */

  .parkers {
    grid-gap: 10px !important;
  }

  .parkers .hero.one {
    padding-bottom: 50px;
    grid-template-areas:
      "image"
      "content";
  }

  .parkers .hero.one .content {
    grid-area: content;
  }

  .parkers .hero.one .image-container {
    grid-area: image;
  }

  .parkers .hero.two .content, .parkers .hero.three .content {
    padding: 50px 0 !important;
  }

  .parkers .hero.two {
    grid-template-areas:
      "content"
      "image";
  }

  .parkers .hero.two .carousel-container {
    grid-area: image;
  }

  .parkers .hero.two .content-container {
    grid-area: content;
  }

  .parkers. .hero.three img {
    width: 100% !important;
  }

  .parkers .hero.one .content {
    margin-bottom: 30px;
  }

  /* owners */
  .owners .hero.one {
    grid-template-areas:
      "image"
      "content";
  }

  .owners .hero.one .image-container {
    grid-area: image;
  }

  .owners .hero.one .content {
    grid-area: content;
  }

  /* find parking */
  .find-parking-container .body{
    grid-template-columns: 1fr !important;
  }

  /* add-listing */
  .add-listing-message-container {
    display: none;
  }

  .add-listing-container {
    grid-template-columns: 1fr !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
  }

  .add-listing-container button {
    font-size: 14px;
  }

  .add-listing-form-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .add-listing-form-container {
    box-shadow: initial;
  }

  .add-listing-form-container {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
  }

  .add-listing-form-fields {
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* dashboard */
  .dashboard {
    grid-template-columns: 1fr;
  }

  .dashboard .user {
    grid-template-rows: initial;
    grid-template-columns: 1.2fr 1.8fr;
    grid-gap: 20px;
    padding: 10px 20px;
  }

  .dashboard .user .contact {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .dashboard .contact-info-container {
    width: 100% !important;
  }

  .dashboard .contact.container {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .dashboard span {
    font-size: 12px;
    margin-right: auto;
  }

  .dashboard .user .contact .contact-info {
    grid-template-columns: 0.3fr 1.7fr;
    text-align: left;
    margin-left: auto;
  }

  .dashboard .user .contact h5 {
    margin: 10px 0;
  }

  .dashboard .parking .listing-container {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .dashboard .parking .listing-container img {
    height: 200px !important;
  }

  .dashboard .parking .listing-container .details-container {
    padding: 5px 20px;
  }

  .dashboard .listing li {
    margin-bottom: 10px !important;
  }

  /* login/register */

  .login-register {
    padding: 0;
    height: 100vh;
    width: 100vw !important;
  }

  .login-register .header {
    display: none;
  }

  .login-register .form-container{
    width: 100% !important;
    height: 100vh;
    margin: 0;
  }

  .login-register .form {
    width: 100% !important;
  }

  /* rent parking */

  .rent-parking {
    padding: 0 !important;
  }

  .rent-parking .white-background {
    height: 100vh !important;
    width: 100vw !important;
  }

  /* footer */
  .footer .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer nav {
    grid-template-columns: 1fr; 
  }
}
